h1 {
  color: red;
}

header .header-nav {
  background: #001487;
  height: 108px;
}
@media screen and (max-width: 767px) {
  header .header-nav {
    height: auto;
  }
}
header .header-nav .custom_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  header .header-nav .custom_container {
    height: 56px;
    justify-content: space-between;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  header .header-nav .custom_container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
header .header-nav .custom_container .logo {
  width: 180px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  header .header-nav .custom_container .logo {
    width: 130px;
  }
}
header .header-nav .custom_container .logo img {
  width: 100%;
}
header .header-nav .custom_container .nav-items {
  color: #ffffff;
  display: flex;
  align-items: center;
}
header .header-nav .custom_container .nav-items .nav-bar .social-links {
  display: none;
}
@media only screen and (max-width: 767px) {
  header .header-nav .custom_container .nav-items .nav-bar .social-links {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
  }
  header .header-nav .custom_container .nav-items .nav-bar .social-links i {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  header .header-nav .custom_container .nav-items .nav-bar {
    background: #001487;
    position: fixed;
    top: 60px;
    bottom: 0;
    transition: 0.3s ease all;
    z-index: 3000;
    width: 100%;
    height: fit-content;
    right: -390px;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-items: baseline;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul {
    display: block;
    padding: 0px;
  }
}
@media only screen and (max-width: 1440px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul {
    gap: 20px;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul li {
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  white-space: pre-wrap;
  max-width: 115px;
  padding: 0 21px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul li {
    flex-direction: row;
    margin-bottom: 0px;
    max-width: 100%;
    padding: 14px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.431372549);
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul li::after {
  content: "";
  content: "";
  height: 30px;
  width: 0.3px;
  background: #293bb2;
  position: absolute;
  top: 22px;
  left: -15px;
}
header .header-nav .custom_container .nav-items .nav-bar > ul li:first-child::after {
  display: none;
}
header .header-nav .custom_container .nav-items .nav-bar > ul li a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
header .header-nav .custom_container .nav-items .nav-bar > ul li svg {
  width: 30px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul li svg {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul li.active-menu {
  position: relative;
}
header .header-nav .custom_container .nav-items .nav-bar > ul li.active-menu a {
  color: #65c3ed;
}
@media only screen and (max-width: 767px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul li.active-menu a {
    color: #fff;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul li.active-menu .arrow-up {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 100px;
  z-index: 1;
  border-bottom: 20px solid #fff;
}
@media only screen and (max-width: 767px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul li.active-menu .arrow-up {
    display: none;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav {
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav {
    position: relative;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav:hover .mega-menu {
  display: block;
}
@media only screen and (max-width: 767px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav:hover .mega-menu {
    display: none;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav .mob-nav-down-arrow {
  display: none;
}
@media only screen and (max-width: 767px) {
  header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav .mob-nav-down-arrow {
    display: inline-block;
    color: #fff;
    right: 19px;
    top: 12px;
    position: absolute;
  }
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav.mob-mega-menu .mega-menu {
  display: block;
  position: absolute;
  top: 63px;
  z-index: 1;
  display: block;
  border: none;
  padding: 15px 20px;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav.mob-mega-menu .mega-menu .mega-menu-item {
  height: auto;
  margin-bottom: 15px;
  align-items: flex-start;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav.mob-mega-menu .mega-menu .mega-menu-item img {
  display: none;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav.mob-mega-menu .mega-menu .mega-menu-item .item-title {
  margin: 0;
  font-size: 16px;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .sub-nav.mob-mega-menu .mega-menu .mega-menu-item .item-desc {
  text-align: left;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .mega-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 108px;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
  padding: 0px 90px 58px 90px;
  box-shadow: 0px 5px 10px #b8b8b8;
  border-top: 25px solid #f58c73;
  border-bottom: 25px solid #f58c73;
  border-right: 40px solid #f58c73;
  border-left: 40px solid #f58c73;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .mega-menu .mega-menu-item {
  justify-content: end;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 45px;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .mega-menu .mega-menu-item img {
  width: 200px;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .mega-menu .mega-menu-item .item-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0 5px;
  color: #08198b;
}
header .header-nav .custom_container .nav-items .nav-bar > ul .mega-menu .mega-menu-item .item-desc {
  text-align: center;
  color: #001487;
}
header .header-nav .custom_container .header-last-items {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}
header .header-nav .custom_container .header-last-items .social-links {
  background-color: #fff;
  border-radius: 0px 0px 25px 25px;
  padding: 8px 15px;
  margin-top: -15px;
}
@media screen and (max-width: 767px) {
  header .header-nav .custom_container .header-last-items .social-links {
    display: none;
  }
}
header .header-nav .custom_container .header-last-items .social-links i {
  padding: 0 10px;
  color: #001487;
}
header .header-nav .custom_container .header-last-items .search {
  background: #f58c73;
  height: 35px;
  width: 35px;
  text-align: center;
  margin-top: 11px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
@media only screen and (max-width: 1024px) {
  header .header-nav .custom_container .header-last-items .search {
    margin-top: 1px;
  }
}
header .header-nav .custom_container .header-last-items .mob-last .cross-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header-nav .custom_container .header-last-items .mob-last {
    display: flex;
    align-items: center;
  }
  header .header-nav .custom_container .header-last-items .mob-last .cross-icon {
    display: inline-block;
    background: #69cdf5;
    color: black;
    height: 56px;
    width: 53px;
    align-items: center;
    display: flex;
    margin-right: -19px;
    font-size: 27px;
    justify-content: center;
    margin-left: 20px;
  }
  header .header-nav .custom_container .header-last-items .mob-last .cross-icon .fa-times {
    display: none;
  }
  header .header-nav .custom_container .header-last-items .mob-last .cross-icon .fa-bars {
    display: inline-block;
  }
}

body {
  min-height: 108vh;
}

header.active-responsive-nav .header-nav .nav-bar {
  right: 0 !important;
}

header.active-responsive-nav .header-nav {
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.431372549);
  position: fixed;
  width: 100%;
}

.active-responsive-nav .fa-times {
  display: inline-block !important;
}
.active-responsive-nav .fa-bars {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
